//Violetas
$primary_color: #584193;
$secondary_color: #785099;

//Rojos
//$primary_color :  #D83931 ;
//$secondary_color :  #9A2C29;

//Verdes
//$primary_color :  #72B155 ;
//$secondary_color :  #9EC654;

@media (min-width: 768px) {
  .site-header {
    padding-top: 1em;
    background-color: rgba(250, 250, 250, .7);
  }

  .storefront-secondary-navigation.woocommerce-active .site-header .site-branding {
    width: 30%;
  }

  .storefront-breadcrumb {

    margin: 0 !important;
    nav {
      background: $primary_color;
      box-sizing: border-box;
      padding: (10em/14);
      color: white;
      a {
        color: white;
      }
    }
  }
}

.site-content{
 // background: url(assets/images/site/flamenco.png) bottom left no-repeat / 50%;

}



.site-header {
  .storefront-primary-navigation {
    background-color: rgba(250, 250, 250, .4) !important;
  }

  .main-navigation {
    ul.nav-menu {
      margin-left: 0;
      li {
        border-right: solid 1px $primary_color;
        width: 20%;
        text-align: center;

        a {
          line-height: initial;
          padding-top: (10em/16);
          padding-bottom: (10em/16);
          color: $primary_color;
        }
        &:last-child {
          border-right: none;
        }
        &:first-child {
          margin-left: 15%;
          &:before {
            content: 'QUIERO';
            position: absolute;
            background: $primary_color;
            color: #fff;
            left: -75%;
            top: 0;
            height: 100%;
            width: 75%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
          }

          &:after {
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 30px 0 30px 19px;
            border-color: transparent transparent transparent $primary_color;
            content: "";
          }
        }
      }
    }
  }

  .site-header-cart {
    .cart-contents {
      padding-top: (17em/16);
      padding-bottom: (17em/16);
    }
  }
}

.site-footer {
  background-image: url(assets/images/textures/bg-texture-pave3.png);
  color: #fff;
  .widget ul {
    list-style: circle;
  }
  .widget-title {
    border-bottom: 1px solid white;
    position: relative;
    text-indent: (40em/22);
    padding: 0 0 (10em/22);

    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: (22em/16);
      height: (22em/16);
      background-color: #fff;
      -webkit-mask: url(assets/images/site/maya-pyramid-svgrepo-com.svg) no-repeat;
      mask: url(assets/images/site/maya-pyramid-svgrepo-com.svg) no-repeat;
    }
  }
  a:not(.button) {
    color: #fff;
  }

  .footer-widget-2 {
    .widget-title {
      &:before {
        -webkit-mask: url(assets/images/site/mexican-hat-svgrepo-com.svg) no-repeat;
        mask: url(assets/images/site/mexican-hat-svgrepo-com.svg) no-repeat;
      }
    }
  }

  .footer-widget-3 {
    .widget-title {
      &:before {
        -webkit-mask: url(assets/images/site/mexican-mask-svgrepo-com.svg) no-repeat;
        mask: url(assets/images/site/mexican-mask-svgrepo-com.svg) no-repeat;
      }
    }
  }
}

.banner_wrapper .banner {
  &.banner-bajo-menu {
    background: #fff;
    border: none;
  }

}

.entry-title:not(.alpha) {
  font-size: (40em/16) !important;
  border-bottom: 1px solid $secondary_color;
  padding-bottom: (15em/40) !important;
  margin-bottom: (15em/40) !important;
  color: $primary_color;
}

.page-template-template-homepage .type-page {
  padding-top: 0;
}

.content-area {
  background: rgba(250, 250, 250, .5);
  box-sizing: border-box;
  padding: (10em/16) (30em/16);
}

.widget-area {
  background: rgba(250, 250, 250, .7);
  box-sizing: border-box;
  padding: (10em/16);
}

.widSSP {
  width: 100% !important;
}

.post {
  margin: (40em/16) 0 0;
  &.category-atraccion {
    .entry-header {
      .posted-on {
        visibility: hidden;
        display: none;
      }
    }
    .entry-meta{
      visibility: hidden;
      display: none;
    }
    .entry-content{
      width: 100%;
    }

    .wp-post-image{
      width: 100%;
    }
  }
}

.site-header-cart .cart-contents::after {
  //content: "f07a";
}


.secondary-navigation a[href*="dribbble.com"],
.secondary-navigation a[href*="facebook.com"],
.secondary-navigation a[href*="flickr.com"],
.secondary-navigation a[href*="foursquare.com"],
.secondary-navigation a[href*="plus.google.com"],
.secondary-navigation a[href*="instagram.com"],
.secondary-navigation a[href*="linkedin.com"],
.secondary-navigation a[href*="pinterest.com"],
.secondary-navigation a[href*="reddit.com"],
.secondary-navigation a[href*="tumblr.com"],
.secondary-navigation a[href*="twitter.com"],
.secondary-navigation a[href*="vimeo.com"],
.secondary-navigation a[href*="wordpress.com"],
.secondary-navigation a[href*="wordpress.org"],
.secondary-navigation a[href*="youtube.com"],
.secondary-navigation a[href*="mailto:"],
.secondary-navigation a[href*="twitch.tv"],
.secondary-navigation a[href$="/feed/"] {
  text-indent: -9999px;
}

.secondary-navigation a[href*="dribbble.com"]:after,
.secondary-navigation a[href*="facebook.com"]:after,
.secondary-navigation a[href*="flickr.com"]:after,
.secondary-navigation a[href*="foursquare.com"]:after,
.secondary-navigation a[href*="plus.google.com"]:after,
.secondary-navigation a[href*="instagram.com"]:after,
.secondary-navigation a[href*="linkedin.com"]:after,
.secondary-navigation a[href*="pinterest.com"]:after,
.secondary-navigation a[href*="reddit.com"]:after,
.secondary-navigation a[href*="tumblr.com"]:after,
.secondary-navigation a[href*="twitter.com"]:after,
.secondary-navigation a[href*="vimeo.com"]:after,
.secondary-navigation a[href*="wordpress.com"]:after,
.secondary-navigation a[href*="wordpress.org"]:after,
.secondary-navigation a[href*="youtube.com"]:after,
.secondary-navigation a[href*="mailto:"]:after,
.secondary-navigation a[href*="twitch.tv"]:after,
.secondary-navigation a[href$="/feed/"]:after,
.secondary-navigation .home-icon-menu a:after {
  text-indent: 0;
  display: block;
  float: left;
}

.secondary-navigation a[href*="dribbble.com"]:after,
.secondary-navigation a[href*="facebook.com"]:after,
.secondary-navigation a[href*="flickr.com"]:after,
.secondary-navigation a[href*="foursquare.com"]:after,
.secondary-navigation a[href*="plus.google.com"]:after,
.secondary-navigation a[href*="instagram.com"]:after,
.secondary-navigation a[href*="linkedin.com"]:after,
.secondary-navigation a[href*="pinterest.com"]:after,
.secondary-navigation a[href*="reddit.com"]:after,
.secondary-navigation a[href*="tumblr.com"]:after,
.secondary-navigation a[href*="twitter.com"]:after,
.secondary-navigation a[href*="vimeo.com"]:after,
.secondary-navigation a[href*="wordpress.com"]:after,
.secondary-navigation a[href*="wordpress.org"]:after,
.secondary-navigation a[href*="youtube.com"]:after,
.secondary-navigation a[href*="twitch.tv"]:after {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

.secondary-navigation a[href*="mailto:"]:after,
.secondary-navigation a[href$="/feed/"]:after,
.secondary-navigation .home-icon-menu a:after,
.secondary-navigation .faqs-icon-menu a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.secondary-navigation a:after {
  font-size: (20em/16);
  margin-right: (5em/20);
}

.secondary-navigation .home-icon-menu a {
  &::after {
    content: "\f015";
    color: #000;
  }
}

.secondary-navigation .faqs-icon-menu a {
  &::after {
    content: "\f059";
    color: #000;
    float: left;
  }
}

.secondary-navigation a[href$="/feed/"]:after {
  content: "\f09e";
  color: #ff9900;
}

.secondary-navigation a[href*="twitch.tv"]:after {
  content: "\f1e8";
  color: #6441A5;
}

.secondary-navigation a[href*="mailto:"]:after {
  content: "\f0e0";
}

.secondary-navigation a[href*="youtube.com"]:after {
  content: "\f167";
  color: #bb0000;
}

.secondary-navigation a[href*="wordpress.com"]:after, .secondary-navigation a[href*="wordpress.org"]:after {
  content: "\f19a";
  color: #0073aa;
}

.secondary-navigation a[href*="vimeo.com"]:after {
  content: "\f194";
  color: #aad450;
}

.secondary-navigation a[href*="tumblr.com"]:after {
  content: "\f173";
  color: #32506d;
}

.secondary-navigation a[href*="reddit.com"]:after {
  content: "\f231";
}

.secondary-navigation a[href*="twitter.com"]:after {
  content: "\f099";
  color: #00aced;
}

.secondary-navigation a[href*="dribbble.com"]:after {
  content: "\f17d";
  color: #ea4c89;
}

.secondary-navigation a[href*="facebook.com"]:after {
  content: "\f09a";
  color: #3b5998;
}

.secondary-navigation a[href*="flickr.com"]:after {
  content: "\f16e";
  color: #ff0084;
}

.secondary-navigation a[href*="foursquare.com"]:after {
  content: "\f180";
  color: #0072b1;
}

.secondary-navigation a[href*="plus.google.com"]:after {
  content: "\f0d5";
  color: #dd4b39;
}

.secondary-navigation a[href*="instagram.com"]:after {
  content: "\f16d";
  color: #517fa4;
}

.secondary-navigation a[href*="linkedin.com"]:after {
  content: "\f0e1";
  color: #007bb6;
}

.secondary-navigation a[href*="pinterest.com"]:after {
  content: "\f231";
  color: #cb2027;
}